/* Required for full background image */
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse ,.page-footer{
  background-color: rgb(0, 0, 0) !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #000000 !important;
  }
}

.rgba-gradient {
  background: rgb(0, 0, 0);  /* fallback for old browsers */
}

.streak.streak-photo {
  background-attachment: fixed;
}
.word1{
   font-size: 30px; 
}



